@mixin banner-nota($background: rgb(51,51,51),$font-color: white) {
    text-transform: uppercase;
    background: $background;
    color: $font-color;
    padding: 1px 7px;
    font-size: small;
    width: fit-content;
    letter-spacing: 1px;
    line-height: 1rem;
    margin-bottom: 1rem;
    z-index: 2;
}