@mixin banner-botao($padding: 0, $color: black, $background: transparent) {
    padding: $padding;
    color: $color;
    display: flex;
    background: $background;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    width: fit-content;
    border: none;
    transition: 0.2s;
    z-index: 2;
    .banner-botao__icone {
        position: relative;
        top: -1px;
        //top: 3px;
        height: 1.2rem;
        fill: $color;
        transition: inherit;
    }
    .banner-botao__texto {
        text-align: left;
        display: inline-flex;
        align-items: center;
        //display: inline-block;
        line-height: 0.9rem;
        height: 1.6rem;
        //height: 1rem;
        transition: inherit;
    }
}

// .banner-botao::after {
//     content: url("../assets/img/ico-seta-direita.svg");
//     height: 1rem;
//     display: inline-block;
// }

@mixin banner-botao--hover($hover-texto: black,$hover-fundo: transparent) {
    background: $hover-fundo;
    cursor: pointer;
    color: $hover-texto;
    .banner-botao__icone {
        fill: $hover-texto;
    }
    .banner-botao__texto {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
    }
}