@import "assets/sass/header/header";
@import "assets/sass/header/nav-header";
@import "assets/sass/corrossel-principal/carrossel-banners-principais";
@import "assets/sass/nav-xbox/nav-xbox";
@import "assets/sass/banners-do-grid/banners";
@import "assets/sass/banners-do-grid/banners-grid-container--1";
@import "assets/sass/banners-do-grid/banners-grid-container--2";
@import "assets/sass/banner-largo/banner-largo";
@import "assets/sass/redes-sociais/redes-sociais.scss";

$font-padrao: 'Hind Siliguri', sans-serif;

body, button, section{
    font-family: $font-padrao;
}