@mixin banner-nota {
    text-transform: uppercase;
    background: rgb(51,51,51);
    color: white;
    padding: 1px 7px;
    font-size: small;
    width: fit-content;
    letter-spacing: 1px;
    line-height: 1rem;
    margin-bottom: 1rem;
}