@mixin banner-botao($padding: 0, $color: black, $background: transparent) {
    padding: $padding;
    color: $color;
    background: $background;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    width: fit-content;
    border: none;
    .banner-botao__icone {
        height: 1.2rem;
        fill: $color;
    }
}