header {
  display: flex;
  height: 50px;
  padding: 0 75px; }
  header .logo {
    display: flex;
    align-items: center; }
    header .logo .logo__principal {
      padding-right: 20px;
      border-right: 2px solid black; }
    header .logo img {
      height: 23px; }

.nav-principal {
  height: 100%;
  display: flex;
  align-items: center; }

.nav-botao {
  height: calc(100% - 4px);
  background-color: white;
  border-radius: 0%;
  border-style: dashed;
  border-width: 1px;
  border-color: white;
  cursor: pointer;
  color: #262626;
  display: flex;
  align-items: center;
  padding: 0 10px; }
  .nav-botao .nav-botao__texto {
    border-bottom: 2px solid white; }
  .nav-botao .icone-seta-abaixo {
    color: #262626;
    height: 10px;
    margin-left: 5px; }

.nav-botao:hover .nav-botao__texto {
  border-bottom-color: #262626; }

.nav-botao:active {
  border-color: black; }

.nav-secundario {
  display: flex;
  align-items: center;
  margin-left: auto; }

.nav-secundario__login-icone {
  height: 30px; }

.invisivel {
  display: none !important; }

.carrossel-banner {
  height: 500px;
  display: flex;
  align-items: center; }
  .carrossel-banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 38.5%;
    margin-left: auto;
    box-sizing: border-box;
    padding-right: 110px;
    line-height: 2.5rem; }
    .carrossel-banner .banner-content .banner__nota {
      text-transform: uppercase;
      background: #333333;
      color: white;
      padding: 1px 7px;
      font-size: small;
      width: fit-content;
      letter-spacing: 1px;
      line-height: 1rem;
      margin-bottom: 1rem; }
    .carrossel-banner .banner-content .banner__titulo {
      font-size: 3rem;
      font-weight: 700;
      line-height: 3.2rem; }
    .carrossel-banner .banner-content .banner__texto {
      font-size: 2.2rem;
      margin: 2rem 0; }
    .carrossel-banner .banner-content .banner-botao {
      padding: 2px 20px;
      color: #054b16;
      background: #9bf00b;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem;
      width: fit-content;
      border: none; }
      .carrossel-banner .banner-content .banner-botao .banner-botao__icone {
        height: 1.2rem;
        fill: #054b16; }

.carrossel-banner:nth-child(1) {
  background-image: url("../Imagens/carrossel-fifa22.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.carrossel-banner:nth-child(2) {
  background-image: url("../Imagens/carrossel-fallout76.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.carrossel-banner:nth-child(3) {
  background-image: url("../Imagens/carrossel-ufc4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .carrossel-banner:nth-child(3) .banner-content {
    margin: 0;
    margin-left: 75px; }

body, button, section {
  font-family: "Hind Siliguri", sans-serif; }

/*# sourceMappingURL=style.css.map */
