.banner-largo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 580px;
  background: url("../img/banner-large-consoles.jpg");
  background-size: cover;
  color: white;
  padding: 0px 450px;
  margin: 0 8px; }

.banner-largo__titulo {
  text-transform: uppercase;
  font-size: 4.2rem;
  font-weight: 700;
  text-align: center; }

.banner-largo__texto {
  margin: 3rem 0;
  letter-spacing: 10px;
  font-size: 1.5rem;
  font-weight: 300; }

.banner-largo .banner-botao {
  align-items: center;
  padding: 2px 20px;
  color: #054b16;
  display: flex;
  background: #9bf00b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  width: fit-content;
  border: none;
  transition: 0.2s;
  z-index: 2; }
  .banner-largo .banner-botao .banner-botao__icone {
    position: relative;
    top: -1px;
    height: 1.2rem;
    fill: #054b16;
    transition: inherit; }
  .banner-largo .banner-botao .banner-botao__texto {
    text-align: left;
    display: inline-flex;
    align-items: center;
    line-height: 0.9rem;
    height: 1.6rem;
    transition: inherit; }

.banner-largo .banner-botao:hover {
  background: #8bd80a;
  cursor: pointer;
  color: #054b16; }
  .banner-largo .banner-botao:hover .banner-botao__icone {
    fill: #054b16; }
  .banner-largo .banner-botao:hover .banner-botao__texto {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px; }
