.banners-grid-container--2 {
  display: grid;
  grid-template: "b1 b3" 380px "b2 b3" 380px "b2 b4" 380px / 1fr 1fr;
  gap: 5px;
  margin: 8px; }

.banners-grid-container--2 .banner {
  position: relative;
  color: white; }
  .banners-grid-container--2 .banner .banner-botao {
    padding: 0px;
    color: white;
    display: flex;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    width: fit-content;
    border: none;
    transition: 0.2s;
    z-index: 2; }
    .banners-grid-container--2 .banner .banner-botao .banner-botao__icone {
      position: relative;
      top: -1px;
      height: 1.2rem;
      fill: white;
      transition: inherit; }
    .banners-grid-container--2 .banner .banner-botao .banner-botao__texto {
      text-align: left;
      display: inline-flex;
      align-items: center;
      line-height: 0.9rem;
      height: 1.6rem;
      transition: inherit; }
  .banners-grid-container--2 .banner .banner-botao:hover {
    background: transparent;
    cursor: pointer;
    color: #9bf00b; }
    .banners-grid-container--2 .banner .banner-botao:hover .banner-botao__icone {
      fill: #9bf00b; }
    .banners-grid-container--2 .banner .banner-botao:hover .banner-botao__texto {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px; }

.banners-grid-container--2 .banner:nth-child(1) {
  grid-area: b1; }
  .banners-grid-container--2 .banner:nth-child(1) .banner__background {
    background-image: url("../img/banner-t2-flight-simulator.jpg"); }
  .banners-grid-container--2 .banner:nth-child(1) .banner__nota {
    text-transform: uppercase;
    background: #ffd800;
    color: black;
    padding: 1px 7px;
    font-size: small;
    width: fit-content;
    letter-spacing: 1px;
    line-height: 1rem;
    margin-bottom: 1rem;
    z-index: 2; }

.banners-grid-container--2 .banner:nth-child(2) {
  grid-area: b3; }
  .banners-grid-container--2 .banner:nth-child(2) .banner__background {
    background-image: url("../img/banner-t1-deaths-door.jpg"); }

.banners-grid-container--2 .banner:nth-child(3) {
  grid-area: b2; }
  .banners-grid-container--2 .banner:nth-child(3) .banner__background {
    background-image: url("../img/banner-t1-lost-judment.jpg"); }
  .banners-grid-container--2 .banner:nth-child(3) .banner-botao {
    padding: 2px 20px;
    color: #054b16;
    display: flex;
    background: #9bf00b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    width: fit-content;
    border: none;
    transition: 0.2s;
    z-index: 2; }
    .banners-grid-container--2 .banner:nth-child(3) .banner-botao .banner-botao__icone {
      position: relative;
      top: -1px;
      height: 1.2rem;
      fill: #054b16;
      transition: inherit; }
    .banners-grid-container--2 .banner:nth-child(3) .banner-botao .banner-botao__texto {
      text-align: left;
      display: inline-flex;
      align-items: center;
      line-height: 0.9rem;
      height: 1.6rem;
      transition: inherit; }
  .banners-grid-container--2 .banner:nth-child(3) .banner-botao:hover {
    background: #8bd80a;
    cursor: pointer;
    color: #054b16; }
    .banners-grid-container--2 .banner:nth-child(3) .banner-botao:hover .banner-botao__icone {
      fill: #054b16; }
    .banners-grid-container--2 .banner:nth-child(3) .banner-botao:hover .banner-botao__texto {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px; }

.banners-grid-container--2 .banner:nth-child(4) {
  grid-area: b4;
  background: white;
  color: black; }
  .banners-grid-container--2 .banner:nth-child(4) .banner__background {
    background-image: url("../img/banner-t2-forza-horizon.jpg"); }
  .banners-grid-container--2 .banner:nth-child(4) .banner__nota {
    text-transform: uppercase;
    background: #ffd800;
    color: black;
    padding: 1px 7px;
    font-size: small;
    width: fit-content;
    letter-spacing: 1px;
    line-height: 1rem;
    margin-bottom: 1rem;
    z-index: 2; }
  .banners-grid-container--2 .banner:nth-child(4) .banner-botao {
    padding: 0;
    color: black;
    display: flex;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    width: fit-content;
    border: none;
    transition: 0.2s;
    z-index: 2; }
    .banners-grid-container--2 .banner:nth-child(4) .banner-botao .banner-botao__icone {
      position: relative;
      top: -1px;
      height: 1.2rem;
      fill: black;
      transition: inherit; }
    .banners-grid-container--2 .banner:nth-child(4) .banner-botao .banner-botao__texto {
      text-align: left;
      display: inline-flex;
      align-items: center;
      line-height: 0.9rem;
      height: 1.6rem;
      transition: inherit; }
  .banners-grid-container--2 .banner:nth-child(4) .banner-botao:hover {
    background: transparent;
    cursor: pointer;
    color: black; }
    .banners-grid-container--2 .banner:nth-child(4) .banner-botao:hover .banner-botao__icone {
      fill: black; }
    .banners-grid-container--2 .banner:nth-child(4) .banner-botao:hover .banner-botao__texto {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px; }
