.invisivel {
  display: none !important; }

.carrossel-banner {
  height: 500px;
  display: flex;
  align-items: center; }
  .carrossel-banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 38.5%;
    margin-left: auto;
    box-sizing: border-box;
    padding-right: 110px;
    line-height: 2.5rem; }
    .carrossel-banner .banner-content .banner__nota {
      text-transform: uppercase;
      background: #333333;
      color: white;
      padding: 1px 7px;
      font-size: small;
      width: fit-content;
      letter-spacing: 1px;
      line-height: 1rem;
      margin-bottom: 1rem;
      z-index: 2; }
    .carrossel-banner .banner-content .banner__titulo {
      font-size: 3rem;
      font-weight: 700;
      line-height: 3.2rem; }
    .carrossel-banner .banner-content .banner__texto {
      font-size: 2.2rem;
      margin: 2rem 0; }
    .carrossel-banner .banner-content .banner-botao {
      padding: 2px 20px;
      color: #054b16;
      display: flex;
      background: #9bf00b;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem;
      width: fit-content;
      border: none;
      transition: 0.2s;
      z-index: 2; }
      .carrossel-banner .banner-content .banner-botao .banner-botao__icone {
        position: relative;
        top: -1px;
        height: 1.2rem;
        fill: #054b16;
        transition: inherit; }
      .carrossel-banner .banner-content .banner-botao .banner-botao__texto {
        text-align: left;
        display: inline-flex;
        align-items: center;
        line-height: 0.9rem;
        height: 1.6rem;
        transition: inherit; }

.carrossel-banner:nth-child(1) {
  background-image: url("../img/carrossel-fifa22.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.carrossel-banner:nth-child(2) {
  background-image: url("../img/carrossel-fallout76.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.carrossel-banner:nth-child(3) {
  background-image: url("../img/carrossel-ufc4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .carrossel-banner:nth-child(3) .banner-content {
    margin: 0;
    margin-left: 75px; }
