header {
    display: flex;
    height: 50px;
    padding:  0 75px;

    .logo {
        display: flex;
        align-items: center;
        .logo__principal {
            padding-right: 20px;
            border-right: 2px solid black;
        }
        img{
            height: 23px;
        }
    }
}
