$font-color-nav: rgb(38,38,38);

.nav-principal {
    height: 100%;
    display:  flex;
    align-items: center;
}

.nav-botao {
    height: calc(100% - 4px);
    background-color: white;
    border-radius: 0%;
    border-style: dashed;
    border-width: 1px;
    border-color: white;
    cursor: pointer;
    color: $font-color-nav;
    display:  flex;
    align-items: center;
    padding: 0 10px;
    
    .nav-botao__texto {
        border-bottom: 2px solid white;
    }

    .icone-seta-abaixo {
        color: $font-color-nav;
        height: 10px;
        margin-left: 5px;
    }
}

.nav-botao:hover {
    .nav-botao__texto {
        border-bottom-color: $font-color-nav;
    }
}

.nav-botao:active {
    border-color: black;
}

.nav-secundario {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-secundario__login-icone {
    height: 30px;
}